@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F5F5DC;
    border-radius: 4px;
    border: 2px solid #000;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0c0;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #F5F5DC #000;
  }
  